{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/django/django@main/django/contrib/admin/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/django/django@main/django/contrib/admin/static/admin/css/responsive.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/django/django@main/django/contrib/admin/static/admin/css/forms.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/django/django@main/django/contrib/admin/static/admin/css/widgets.css">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Escola Manager</a></h1>
{% endblock %}

{% block nav-global %}
<div style="margin: 20px;">
    <a href="{% url 'home' %}" class="button" style="padding: 10px; background: #79aec8; color: white; text-decoration: none; border-radius: 4px;">
        Voltar para Home
    </a>
</div>
{% endblock %}