{% load static %}
{% extends 'base.html' %}

{% block title %}Notas Baixas{% endblock %}

{% block content %}
<h1>Notas Baixas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Série</th>
            <th>Disciplina</th>
            <th>Nota</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas_baixas %}
        <tr>
            <td>{{ nota.aluno.nome }}</td>
            <td>{{ nota.aluno.serie }}</td>
            <td>{{ nota.disciplina }}</td>
            <td>{{ nota.valor|floatformat:2 }}</td>
            <td>{{ nota.data|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'exportar_notas_baixas_pdf' %}" class="btn btn-primary">Exportar PDF</a>
<a href="{% url 'relatorios' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}